<footer class="footer">
    <div class="footer__container">
        <!-- Logo & Copyright -->
        <div class="footer__brand">
            <div class="footer__logo">
                <img src="/images/logoIcon.png" alt="Holzwerk" width="18">
                <span>Holzwerk</span>
            </div>
            <p class="footer__copy">Handcrafted woodwork since 1987</p>
        </div>

        <!-- Navigation Links -->
        <div class="footer__links">
            <div class="footer__column">
                <h4>Services</h4>
                <a href="#">Floor Building</a>
                <a href="#">Restoration</a>
                <a href="#">Camper-Vans</a>
            </div>
            <div class="footer__column">
                <h4>Contact</h4>
                <a href="mailto:hello@holzwerk.de">hello@holzwerk.de</a>
                <a href="tel:+491712345678">+49 171 234 5678</a>
                <p>Munich, Germany</p>
            </div>
        </div>
    </div>
</footer>